body {
  /* Add some padding on body to prevent content to go underneath the header and footer s*/
  background-color: #111720;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: 'Lato', sans-serif;
}

.header, .footer {
  background-color: black;
  color: white;

  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}

.footer p {
  opacity: 80%;
}
