body {
  background-color: #111720;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.header {
  font-family: 'Lato', sans-serif;
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 20px;
  word-spacing: 8px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  color: white;
  opacity: 80%;
}
